In [ ]:
print("Print this text.")

Print this text.

In [ ]:
salary = 2
if salary >= 50:
  print("50 or more.")
else:
  print("Less than 50.")

Less than 50.

In [ ]:
test = 234;
test

234

In [ ]:
num = 2.7
# print num type
print(type(num))

<class 'float'>

In [ ]:
com = 2+5j
print(com)
print(type(com))

(2+5j)
<class 'complex'>

In [ ]:
op = 3+1 * 4/ 2
op2 = 3.0 * 2 / 5
print(op)
print(type(op))
print(op2)
print(type(op2))

5.0
<class 'float'>
1.2
<class 'float'>

In [ ]:
rem = 190 % 4
rem2 = 190 % 3.4
print(rem)
print(type(rem))
print(rem2)
print(type(rem2))
print(rem, rem2)

2
<class 'int'>
3.000000000000005
<class 'float'>
2 3.000000000000005

In [ ]:
square = 3 ** 5
square2 = 2.2 ** 3
square3 = 4 ** 2.4
print(square)
print(square2)
print(square3)

243
10.648000000000003
27.85761802547597

In [ ]:
str1 = "Double quotations."
str2 = 'Single quotations.'
print(str1)
print(str2)
print(str1 + str2)
print(str1, str2)
# print(str1 + 2) not allowed. Should use next line
print(str1, 3)
print(type(str1))
print(type(str2))

Double quotations.
Single quotations.
Double quotations.Single quotations.
Double quotations. Single quotations.
Double quotations. 3
<class 'str'>
<class 'str'>

In [ ]:
str1 = "Text."
print(str1 * 4)

Text.Text.Text.Text.

In [ ]:
list1 = [1, 3, 5, 2, "t", "e", "s", "t", 2, "2"]
print(list1, type(list1))
print(list1[3:6])
print(list1[1:9:3])
print(list1[:])
print(list1[::-1]) #Display the transposed list
print(list1[5])
print(list1[2])
print(list1.count(2))
list1.append(8)
list1.append("go")
list1 = list1[::-1]
print(list1[2:7:2])

[1, 3, 5, 2, 't', 'e', 's', 't', 2, '2'] <class 'list'>
[2, 't', 'e']
[3, 't', 't']
[1, 3, 5, 2, 't', 'e', 's', 't', 2, '2']
['2', 2, 't', 's', 'e', 't', 2, 5, 3, 1]
e
5
2
['2', 't', 'e']

In [ ]:
num = 30
print(num >= 2)
print(num == 40)
print(num <= 30)
print(num != 30)

True
False
True
False

In [ ]:
num1 = 12
num2 = 181
if num1 == 12 and num2 == 2:
  print("num is", num1, "and num2 is", num2)
else:
  print("Wrong Answer!")

if num1 <= 10 or num2 == 180:
  print("Correct Answer!")
elif num1 in ["Test", 14, 13]:
  print("num1 in test")
elif num1 is 12:
  print("num1 is 12")
else:
  print("All Wrong!")

Wrong Answer!
num1 is 12

In [ ]:
a = [2, 4, 8, 10]
b = [2, 4, 8, 10]
print(a == b)
print(a is b)
print(id(a))
print(id(b)) #finds memory address of variable

True
False
139676151006144
139676150336000

In [ ]:
a = 3
b = 3
print(a == b)
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

True
True
False
11256128
11256128

In [ ]:
nums = range(1, 9)
for i in nums:
  print(i+2)

3
4
5
6
7
8
9
10

In [ ]:
for num in range(2,8, 2):
  print(num)

2
4
6

In [ ]:
for num in range(1, 10, -1): #Does not work
  print(num)
for num in range(10, 1, -2):
  print(num)

10
8
6
4
2

In [ ]:
a = 1
while a <= 20:
  print(a)
  a += 2

1
3
5
7
9
11
13
15
17
19

In [ ]:
a = 10
while True:
  print(a)
  a -= 1
  if a == 0:
    break

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(10):
  if i > 2 and i <= 5:
    continue
  print(i)

0
1
2
6
7
8
9

In [ ]:
def new_function(first, second, third):
  print(first, second + third)


new_function("GG", 3, 5)

GG 8

In [ ]:
def function(A, B="Empty"):
  print(A + 3, B + " List")


function(4)

7 Empty List

In [ ]:
def func(nums):
  for num in nums:
    print(num)


func([1,2,3,4,5,6])

1
2
3
4
5
6

In [ ]:
def multiply(nums):
  result = 1
  for num in nums:
    result *= num
  
  return result

print(multiply([3,4,5]))

60

In [ ]:
num = 3
isinstance(num, float)

In [ ]:
isinstance([1], list)

True